{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/STYLEabonos.css' %}" rel="stylesheet">
    <title>abonos</title>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Distribuye las tarjetas uniformemente en el contenedor */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
    </nav>
        
    <div class="row">
        <div class="card-container">
            {% for solicitud in solicitudes %}
                <div class="col-sm-3">
                    <div class="anun m-5">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ solicitud.service.image.url }}" class="card-img-top" alt="servicio">
                            <div class="card-body">
                                <h5 class="card-title">{{ solicitud.service.name }}</h5>
                                <p class="card-text">{{ solicitud.service.description }}</p>
                                <a href="{% url 'RealizarAbono' %}"><button type="button" class="btn btn-primary">realizar abono</button></a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal{{ solicitud.id }}">abrir</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% for solicitud in solicitudes %}
    <div class="modal" id="myModal{{ solicitud.id }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex;">
                        <div class="card" style="width: 50rem; height: 100%;">
                            <img src="{{ solicitud.service.image.url }}" class="card-img-top" alt="servicio">
                        </div>
                        <div style="display: inline-block; margin-left: 5%;">
                            <div style="display: flex;">
                                <p style="color: red;">descripción:</p>
                                <p style="margin-left: 5%;">{{ solicitud.description }}</p>
                            </div>
                            <p style="color: red;">estado:</p>
                            <p>{{ solicitud.state }}</p>
                            <p style="color: red;">Detalles:</p>
                            <p>{{ solicitud.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</body>
<script src="{% static 'JS/bootstrap.min.js' %}"></script>
<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'JS/validacionJ.js' %}"></script>
<script src="{% static 'JS/jquery-3.6.4.min.js' %}"></script>
</html>
