{% load static %}
<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <title>Consultar Órdenes de Servicio</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
        <form class="form-inline" action="#" method="GET">
        <button class="btn btn-primary ml-auto" type="submit">Generar Reporte</button>
        </form>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">descripcion</th>
                <th scope="col">fecha</th>
                <th scope="col">estado</th>
                <th scope="col">servicio</th>
            </tr>
        </thead>
        <tbody>
            {% if request %}
                {% for request in requests %}
                    <tr>
                        <td>{{ request.description }}</td>
                        <td>{{ request.date }}</td>
                        <td>{{ request.state }}</td>
                        <td>{{ request.service }}</td>
                        
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="centered-message">
                        <div class="my-5">
                            <center><h1 style="font-size: 3rem;">No hay solicitudes</h1></center>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
<script src="{% static 'JS/bootstrap.min.js' %}"></script>
<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
</html>
