{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'CSS/listas.css' %}" rel="stylesheet">
    <title>Consultar Órdenes de Servicio</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
        <form class="form-inline" action="{% url 'reporteS' %}" method="GET">
            <button class="arc-btn-retro">
                informe solicitudes
              </button>
        </form>
    </nav>
    <table class="table">
        <thead>
            <div class="lista">
                <div class="titulo">Servicio</div>
                <div class="titulo">Estado</div>
                <div class="titulo">Fecha</div>
                <div class="titulo">Descripción</div>
                <div class="titulo">Editar</div>
                <div class="titulo">Eliminar</div>
                

            {% if request %}
            {% for request in requests %}
            
                
                <div class="dato">{{ request.service }}</div>
                <div class="dato">{{ request.state }}</div>
                <div class="dato">{{ request.date }}</div>
                <div class="dato">{{ request.description }}</div>
                <div class="dato"><a href="{% url 'estadoedit' %}?solicitud_id={{ request.id }}" data-id="{{ request.id }}"><button class="edit-btn" >Editar</button></a></div>
                <div class="dato">
                    <form action="{% url 'eliminar_solicitud' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="solicitud_id" value="{{ request.id }}">
                        <button type="submit" class="edit-btn">Eliminar</button>
                    </form>
                </div>                {% endfor %}
            {% else %}
            </div>
            
            <tr>
                <td colspan="5" class="centered-message">
                    <div class="my-5">
                        <center><h1 style="font-size: 3rem;">No hay solicitudes</h1></center>
                    </div>
                </td>
            </tr>
        {% endif %}
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
<script src="{% static 'JS/bootstrap.min.js' %}"></script>
<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</html>
