{% load static %} 
        <!DOCTYPE html>
        <html>
          <head>
            <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
          </head>
          <body>
            <form action="#" class="contact-form">
              <div class="form-group">
                <label for="message">descripcion</label>
                <textarea id="message" name="message" rows="5" required placeholder="ingrese la descripcion del producto"></textarea>
              </div>
              <button type="submit" class="submit-btn">Submit</button>
            </form>
          </body>
        </html>