{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/STYLEJF.CSS' %}">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <meta http-equiv="Content-Security-Policy" content="frame-src 'self';">
    <title>CREACION DE ORDEN DE SERVICIO</title>
</head>
<body>
    <section class="form-register">
        <center style="background: black;">
            <h4 style="color: white; background: none;">CREACION DE ORDEN DE SERVICIO</h4>
        </center>
        <div style="color:black; background: none;">
            INFORMACION REQUERIDA
        </div>
        <form action="{% url 'abonos' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" />
            <input class="controlsj4" type="number" placeholder="Ingrese Cantidad" required="required" name="cantidad">
            <input class="controlsj5" type="text" placeholder="Ingrese detalles" required="required" name="descripcion">
            <div style="background: none;">
                <input class="botons1" type="submit" value="Guardar Orden">
            </div>
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
