{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/STYLEabonos.css' %}">
    <title>REALIZAR ABONO</title>
</head>

<body>
    <div>
        <section class="form-registerh">
            <form action="#" method="post">
                {% csrf_token %}

                <center>
                    <div style="margin-bottom: 20px; background: black;">
                        <h4 style="color: white; background: none;">REALIZAR ABONO</h4>
                    </div>
                </center>
                <input class="controls" type="number" placeholder="Ingrese cantidad de abono" required id="cantidad"
                    name="cantidad">
                <span class="col-1" id="cantidadOK"></span>
                <div>
                    <select name="metodoPago">
                        <option value="">-Seleccione Metodo de Pago-</option>
                        <option value="NEQUI">NEQUI</option>
                        <option value="TARJETA DE CREDITO">TARJETA DE CREDITO</option>
                        <option value="TARJETA DE DEBITO">TARJETA DE DEBITO</option>
                    </select>
                </div>
                <input class="botons" type="submit" value="Confirmar Abono">
            </form>
        </section>
        <script src="{% static 'JS/validacionJ.js' %}"></script>
    </div>

</body>

</html>
