{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/tarjetas.css' %}">
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <title>pedidos</title>
</head>
<body>
    <div class="card">
        <div class="card__image">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.My7lN7GOn16w60PnKEK1_wHaFU%26pid%3DApi&f=1&ipt=c32a724f2ff06606e6b3366c2030eddd7153a75228571f174d4526b57ccb096c&ipo=images" alt="servicio">
        </div>
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="card__button mostrar-modal-btn" href="#">Read More</a>
        </div>
      </div>
      <!-- The Modal -->
      <div id="modal" class="modal">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.My7lN7GOn16w60PnKEK1_wHaFU%26pid%3DApi&f=1&ipt=c32a724f2ff06606e6b3366c2030eddd7153a75228571f174d4526b57ccb096c&ipo=images" alt="Imagen">
            <h2>Nombre</h2>
            <p>Descripcion:</p>
            <div class="input-container ic2">
                <textarea placeholder="" class="input" id="descripcion"  required ></textarea>
                <div class="cut cut-short"></div>
            </div>
            <button class="enviar-btn">Enviar</button>
            <button class="cerrar-btn">Cerrar</button>
        </div>
    </div>
</body>
<script>
    const cerrarBtn = document.querySelector('.cerrar-btn');
    const mostrarModalBtn = document.querySelector('.mostrar-modal-btn');
    
    cerrarBtn.addEventListener('click', () => {
        document.querySelector('.modal').style.display = 'none';
    });
    
    mostrarModalBtn.addEventListener('click', () => {
        document.querySelector('.modal').style.display = 'block';
    });
</script>
<script src="{% static 'JS/forms.js' %}"></script>
</html>