{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/tarjetas.css' %}">
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <title>pedidos</title>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Distribuye las tarjetas uniformemente en el contenedor */
        }
    </style>
</head>
<body> <div class="card-container">
    {% for servicio in servicios %}
<div class="card">
    <div class="card__image">
        <img src="{{ servicio.image.url }}" alt="servicio">
    </div>
    <div class="card__content">
        <p class="card__title">{{ servicio.name }}</p>
        <p class="card__text">{{ servicio.description }}</p>
        <a class="card__button mostrar-modal-btn" href="#" data-modal-id="modal{{ servicio.id }}">Más información</a>
    </div>
</div>
{% endfor %}

<!-- The Modal -->
{% for servicio in servicios %}
<div id="modal{{ servicio.id }}" class="modal">
    <img src="{{ servicio.image.url }}" alt="servicio">
    <h2>{{ servicio.name }}</h2>
    <p>{{ servicio.description }}</p>
    <p>{{ servicio.amount }}</p>
    <form class="formulario-solicitud" data-service-id="{{ servicio.id }}">
        {% csrf_token %}
        <input type="hidden" name="servicio_id" value="{{ servicio.id }}">  <!-- Agrega este campo oculto -->
        <div class="input-container ic2">
            <textarea placeholder="Descripción de la solicitud" class="input" id="descripcion" name="description" required></textarea>
            <div class="cut cut-short"></div>
        </div>
        <button type="submit" class="enviar-btn">Enviar</button>
    </form>
    <button class="cerrar-btn">Cerrar</button>
</div>
{% endfor %}
</div>
</body>
<script>
    const mostrarModalBtns = document.querySelectorAll('.mostrar-modal-btn');
const cerrarBtns = document.querySelectorAll('.cerrar-btn');
const formularioSolicitud = document.querySelectorAll('.formulario-solicitud');


mostrarModalBtns.forEach(btn => {
    btn.addEventListener('click', () => {
        const modalId = btn.getAttribute('data-modal-id');
        document.getElementById(modalId).style.display = 'block';
    });
});

cerrarBtns.forEach(btn => {
    btn.addEventListener('click', () => {
        const modalId = btn.parentElement.getAttribute('id');
        document.getElementById(modalId).style.display = 'none';
    });
});
formularioSolicitud.forEach(form => {
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const serviceId = form.querySelector('input[name="servicio_id"]').value;  
        const descripcion = form.querySelector('textarea[name="description"]').value;

        fetch('servicios', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                servicio_id: serviceId,
                descripcion: descripcion
            })
        })
        .then(response => {
            if (response.ok) {
                console.log('Solicitud enviada con éxito');
            } else {
                console.error('Error al enviar la solicitud');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
<script src="{% static 'JS/forms.js' %}"></script>
</html>