* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    height: 190px;
    width: 190px;
  }
  .check{
    height: 50px;
    width: 50px;
  }
  .form-register {
    width: 500px;
    background: white;
    border: solid;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .controlsj1 {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }.controlsj5 {
    width: 70%;
    height: 180px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }.controlsj3 {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }.controlsj4 {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .controlsj2 {
    width: 55%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: black;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .form-register .botons1 {
    width: 100%;
    background: #E03A9B;
    border: none;
    padding: 12px;
    color: white;
    margin: 6px 0;
    font-size: 16px;
  }
  .form-register2 {
    width: 800px;
    background: white;
    border: solid;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .controlsh1 {
    width: 36%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }.controlsh5 {
    width: 70%;
    height: 180px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }.controlsh3 {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }.controlsh4 {
    width: 36%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .controlsh2 {
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: black;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .botons2 {
    width: 100%;
    background: #E03A9B;
    border: none;
    padding: 12px;
    color: white;
    margin: 6px 0;
    font-size: 16px;
  }
  .botons3 {
    width: 49%;
    background: #E03A9B;
    border: none;
    padding: 12px;
    color: white;
    margin: 6px 0;
    font-size: 16px;
  }