{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <title>Consultar Contratos Sub Empresas</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
        
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">fecha inicial</th>
                <th scope="col">fecha final</th>
                <th scope="col">nombre sub-empresa</th>
                <th scope="col">email</th>
                <th scope="col">numero de contacto</th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in contratos %}
            <tr>
                
                <td>{{ contrato.dateI }}</td>
                <td>{{ contrato.dateF }}</td>
                <td>{{ contrato.subcompany }}</td>
                <td>{{ contrato.subcompany.email }}</td>
                <td>{{ contrato.subcompany.phone }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal{{ contrato.id }}">abrir</button>
                </td>
            </tr>
            <tr>
                <div class="modal" id="myModal{{ contrato.id }}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div style="display: flex;">
                                    <div style="display: inline-block; margin-left: 5%;">
                                        <div style="display: flex;">
                                            <p style="color: red;">nombre sub empresa:</p>
                                            <p style="margin-left: 5%;">{{ contrato.subcompany }}</p>
                                        </div>
                                        <div style="display: inline-block; margin-left: 5%;">
                                            <div style="display: flex;">
                                                <p style="color: red;">numero de contacto:</p>
                                                <p style="margin-left: 5%;">{{ contrato.subcompany.phone }}</p>
                                            </div>
                                            <div style="display: inline-block; margin-left: 5%;">
                                                <div style="display: flex;">
                                                    <p style="color: red;">correo de contacto:</p>
                                                    <p style="margin-left: 5%;">{{ contrato.subcompany.email }}</p>
                                                </div>
                                                <div style="display: inline-block; margin-left: 5%;">
                                                    <div style="display: flex;">
                                                        <p style="color: red;">Estado:</p>
                                                        <p>{{ contrato.state }}</p>
                                                    </div>
                                                    <div style="display: inline-block; margin-left: 5%;">
                                                        <div style="display: flex;">
                                                            <p style="color: red;">Fecha de inicio:</p>
                                                            <p>{{ contrato.dateI }}</p>
                                                        </div>
                                                        <p style="color: red;">Fecha de finalizacion: </p>
                                                        <p>{{ contrato.dateF }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="{% url 'estadoCedit' %}?contrato_id={{ contrato.id }}" data-id="{{ contrato.id }}">Modificar estado</a>
                                <form action="{% url 'eliminar_contrato' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="contrato_id" value="{{ contrato.id }}">
                                    <a class="btn btn-danger"><button type="submit" class="btn-danger">Eliminar</button></a>
                                </form>
                                <button type="button"  data-bs-dismiss="modal">cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
