{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'CSS/Style.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <title>abonos</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  
  <div class="anun p-5">
    {% for tipo_actividad in tipos_actividad %}
    <div class="card " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">tipo de actividad:{{ tipo_actividad.type }}</h5>
            <p class="card-text">fecha:{{ tipo_actividad.date }}</p>
            <p class="card-text">empleado:{{ tipo_actividad.employee }}</p>
            <p class="card-text">correo:{{ tipo_actividad.email }}</p>
            <p class="card-text">estado:{{ tipo_actividad.state }}</p>
            <p class="card-text">novedades:{{ tipo_actividad.novelty }}</p>
            <a href="#"><button type="button" class="btn btn-primary">
              Asignar actividad
            </button></a>
              <a href="{% url 'editActividad' actividad_id=tipo_actividad.id %}">
                <button type="button" class="btn btn-primary">Editar</button>
            </a>
            

        </div> 
    </div> 
    {% endfor %}

        
        
        
      </div>
      
    </div>
    
  </div>
  

    
    <script src="{% static 'JS/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS/validacionJ' %}"></script>
</body>
</html>