{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="{% static 'CSS/estilos2.css' %}">
<meta charset="utf-8">
<title>PLANCHA DE PANCHA</title>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, user-scalable=no">

</head>


<body>

<a id="whatsapp" href="https://api.whatsapp.com/send?phone=5491130160246"><img src="{% static 'img/whatsapp.png' %}" alt=""></a>
<header>
  <div class="menu">
    <div class="contenedor">
      <img class="logo" src="{% static 'img/logopp.png' %}" alt="">
      <img class="menu-icon" src="{% static 'img/menu-click.png' %}" alt="Logo">
      <nav>
        <ul class="lista-menu">
          <li><a href="#sobre-mi">Sobre nosotros</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#por-que-trabajar">Nuestros valores</a></li>
          <li><a href="#Mision-y-vision">Mision y Vision</a></li>
          <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        </ul>
      </nav>
    </div>
  </div>

<div class="contenedor" id="contenedor-titulo-flex">
  <div class="contenedor-titulo">
    <h1>Bienvenido</h1>
    <h2>Para conocer mas sobre nuestros servicios inicia sesion</h2>
    <div class="btn__inicio">
      <a href="{% url 'login' %}"><button>Iniciar sesión</button></a>
    </div>
</div>

</header>


<main>

<section id="sobre-mi">
  <div class="contenedor">
    <h3>Sobre nosotros</h3>
    <div class="contenedor-sobremi">
      <div class="computadoras">
        <img src="{% static 'img/maquina.png' %}">
      </div>
      <div class="texto">
        <p>En La Plancha de Pancha, nos dedicamos a la sublimación creativa y personalizada. Somos líderes en la industria, ofreciendo una amplia gama de productos y servicios para transformar tus ideas en realidad.</p>
    <p>Nuestro equipo apasionado y experto se esfuerza por brindarte una experiencia excepcional desde el diseño hasta la entrega. Creemos en la creatividad sin límites y en la calidad sostenible en cada paso del proceso.</p>
<p>Gracias por elegirnos para tus necesidades de sublimación creativa.</p>
      </div>
    </div>
  </div>
</section>

<section id="servicios">
  <div class="contenedor">
    <h3>Servicios</h3>
    <div class="contenedor-servicios">
      <div class="servicio violeta">
        <h4>Ropa</h4>
        <p>Descubre nuestra colección única de ropa sublimada, diseñada para expresar tu estilo. Desde camisetas hasta accesorios, encuentra la magia de la personalización con nosotros.</p>
        <img class="icono" src="{% static 'img/camisa.png' %}">
        <img class="ondas" src="{% static 'img/waves.png' %}" alt="Logo">
      </div>
      <div class="servicio celeste">
        <h4>Ceramica</h4>
        <p>Explora nuestra selección única de cerámica artesanal, donde la creatividad cobra vida en cada pieza. Desde vajillas hasta decoraciones para el hogar, cada artículo está meticulosamente elaborado con técnicas tradicionales y un toque moderno.</p>
        <img class="icono" src="{% static 'img/ceramica.png' %}">
        <img class="ondas" src="{% static 'img/waves.png' %}" alt="Logo">
      </div>
      <div class="servicio violeta">
        <h4>Carteles</h4>
        <p>Destaca tu mensaje con nuestros carteles únicos y personalizados. Desde eventos especiales hasta promociones, te ofrecemos impresiones de alta calidad que capturan la atención.
          </p>
        <img class="icono" src="{% static 'img/carteles.png' %}">
        <img class="ondas" src="{% static 'img/waves.png' %}" alt="Logo">
      </div>
      <div class="servicio celeste">
        <h4>Accesorios</h4>
        <p>Completa tu estilo con nuestros accesorios personalizados. Desde bolsos hasta fundas para teléfonos, cada artículo está diseñado para reflejar tu individualidad.</p>
        <img class="icono" src="{% static 'img/accesorios.png' %}">
        <img class="ondas" src="{% static 'img/waves.png' %}" alt="Logo">
      </div>
      <div class="servicio violeta">
        <h4>Productos para mascotas</h4>
        <p>Explora nuestra colección de productos personalizados para mascotas en La Plancha de Pancha. Desde platos para comida hasta collares y juguetes, ofrecemos una amplia gama de opciones para consentir a tus compañeros peludos.</p>
        <img class="icono" src="{% static 'img/mascotas.png' %}">
        <img class="ondas" src="{% static 'img/waves.png' %}" alt="Logo">
      </div>
      <div class="servicio celeste">
        <h4>Decoracion</h4>
        <p>Haz de tu espacio algo único con nuestra decoración personalizada. Desde cuadros hasta almohadas decorativas, cada artículo está diseñado para agregar un toque de estilo a tu hogar u oficina.</p>
        <img class="icono" src="{% static 'img/decoracion.png' %}">
        <img class="ondas" src="{% static 'img/waves.png' %}" alt="Logo">
      </div>
    </div>
  </div>
</section>


<section id="por-que-trabajar">
  <div class="contenedor">
    <h3>¿Porque escoger nuestros servicios?</h3>
    <div class="contenedor-trabajar">
      <div class="item">
        <ul>
          <li><img src="imagenes/velocidad.png" alt=""></li>
          <li>Velocidad</li>
          <li>En La Plancha de Pancha, comprendemos la importancia del tiempo. Nos comprometemos a ofrecerte un servicio rápido y eficiente para satisfacer tus necesidades en el menor tiempo posible. Desde la consulta inicial hasta la entrega del producto final, puedes confiar en nosotros para cumplir con tus plazos con precisión y profesionalismo.</li>
        </ul>
      </div>
      <div class="item">
        <ul>
          <li><img src="imagenes/mantenimiento.png" alt=""></li>
          <li>cumplimiento</li>
          <li>En La Plancha de Pancha, nos comprometemos a cumplir con nuestras promesas. Desde la calidad de nuestros productos hasta el tiempo de entrega, mantenemos altos estándares de cumplimiento en cada etapa del proceso. Puedes confiar en nosotros para proporcionarte un servicio confiable y consistente que supere tus expectativas en todo momento.</li>
        </ul>
      </div>
      <div class="item">
        <ul>
          <li><img src="imagenes/mobile2.png" alt=""></li>
          <li>calidad</li>
          <li>En La Plancha de Pancha, la calidad es nuestra prioridad principal. Nos esforzamos por ofrecer productos y servicios que superen tus expectativas en términos de durabilidad, precisión y atención al detalle. Desde la selección de materiales hasta los procesos de producción, cada paso se realiza con un compromiso inquebrantable con la excelencia. Confía en nosotros para proporcionarte resultados que perduren y te satisfagan plenamente.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="Mision-y-vision">
  <div class="contenedor">
    <h3>Mision y Vision</h3>
    <div class="contenedor-publicaciones">
      <div class="publicacion">
        <img src="imagenes/blog1.jpg" alt="">
        <div class="contenido">
          <h4>Mision</h4>
          <p>Nuestra misión es ayudar a nuestros clientes a plasmar sus ideas en una amplia variedad de objetos personalizados. Creemos que la sublimación es una herramienta poderosa para expresar la individualidad y la creatividad, y nos sentimos orgullosos de poder formar parte de este proceso.</p>
        </div>
      </div>
      <div class="publicacion">
        <img src="imagenes/blog2.jpg" alt="">
        <div class="contenido">
          <h4>Vision</h4>
          <p>Nuestra visión es ser la empresa líder en sublimación personalizada, reconocida por la calidad de nuestros productos, la excelencia de nuestro servicio y la satisfacción de nuestros clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>


</main>

<footer>
  <div class="contenedor">
    <div class="redes">
      <a href="#"><img src="{% static 'img/facebook.png' %}" alt="imagen de facebook"></a>
      <a href="#"><img src="{% static 'img/medium.png' %}" alt="imagen de facebook"></a>
      <a href="#"><img src="{% static 'img/github.png' %}" alt="imagen de facebook"></a>
      <a href="#"><img src="{% static 'img/linkedin.png' %}" alt="imagen de facebook"></a>
    </div>
    <div class="parrafo">
      <p>© 2023 jhoan sebastian | Diseñador Web Colombia. Todos los derechos reservados</p>
    </div>
  </div>
</footer>



<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="owl/owl.carousel.min.js"></script>
<script>

$(document).ready(function(){

$(window).scroll(function(){
  scroll = $(window).scrollTop();
  if (scroll > 100) {
    $('.menu').css({"position":"fixed"});
    $('.menu').css({"width":"100%"});
    $('.menu').css({"top":"0"});
    $('.menu').css({"background":"#fff"});
    $('.menu a').css({"color":"#000"});
    $('.logo').css({"color":"#000"});
    $('.menu').css({"box-shadow":"rgba(0, 0, 0, 0.22) 6px 1px 1px"});
    $('.menu').css({"z-index":"100"});
  } else {
    $('.menu').css({"position":"relative"});
    $('.menu').css({"background":"transparent"});
    $('.menu').css({"box-shadow":"0 0 0"});
    $('.menu a').css({"color":"#fff"});
    $('.logo').css({"color":"#fff"});
  }
})

$('.menu-icon').click(function(){
  $('header nav').slideToggle();
})

})



</script>


</body>

</html>
