{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
    <title>Registro de Servicios</title>
</head>
<body>
  <form method="post" action="{% url 'Registro de Servicio' %}" id="myForm" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="form">
        <div class="title">Registro de Servicios</div>
        <div class="subtitle">Completa la información</div>
    
        <div class="input-container ic1">
          <select id="tipo_servicio" class="input" name="type" required>
              <option value="" disabled selected>Tipo de Servicio</option>
              {% for tipo_servicio in tipos_servicio %}
                  <option value="{{ tipo_servicio.id }}">{{ tipo_servicio.type }}</option>
              {% endfor %}
          </select>
      </div>
    
        <div class="input-container ic2">
            <input placeholder="" type="file" class="input" id="imagen_servicio" name="image" accept="image/png, image/jpeg" required>
        </div>
    
        <div class="input-container ic2">
            <input placeholder="" type="text" class="input" id="nombre_servicio" name="name" required>
            <div class="cut"></div>
            <label class="iLabel" for="nombre_servicio">Nombre del Servicio</label>
        </div>
    
        <div class="input-container ic2">
            <input placeholder="" type="number" class="input" id="cantidad" name="amount" required>
            <div class="cut"></div>
           <label class="iLabel" for="cantidad">Cantidad</label>
        </div>
    
        <div class="input-container ic2">
            <textarea placeholder="" class="input" id="descripcion" name="description"  required ></textarea>
            <div class="cut cut-short"></div>
            <label class="iLabel" for="descripcion">Descripción</label>
        </div>
        <button class="submit" type="submit">Enviar</button>
    </div>
</form>
  <div class="error-container" id="errorContainer" style="display: none;"></div>
</body>
<script src="{% static 'JS/forms.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('myForm');
    const errorContainer = document.getElementById('errorContainer');
  
    form.addEventListener('submit', function(event) {
      event.preventDefault(); // Evitar que el formulario se envíe
  
      // Limpiar los mensajes de error anteriores
      errorContainer.innerHTML = '';
  
      // Validar los campos del formulario
      const tipoServicio = document.getElementById('tipo_servicio');
      const imagenServicio = document.getElementById('imagen_servicio');
      const nombreServicio = document.getElementById('nombre_servicio');
      const cantidad = document.getElementById('cantidad');
      const descripcion = document.getElementById('descripcion');
  
      let hasError = false;
  
      if (tipoServicio.value === '') {
        hasError = true;
        addError('Por favor, seleccione un tipo de servicio.');
      }
      
      if (imagenServicio.value === '') {
        hasError = true;
        addError('Por favor, seleccione una imagen.');
      }
      
      if (nombreServicio.value.trim() === '' || !/^[a-zA-Z]+$/.test(nombreServicio.value.trim())) {
        hasError = true;
        addError('Por favor, ingrese un nombre de servicio válido.');
      }
      
      if (cantidad.value.trim() === '' || !/^\d+$/.test(cantidad.value.trim())) {
        hasError = true;
        addError('Por favor, ingrese una cantidad válida.');
      }
      
      if (descripcion.value.trim() === '') {
        hasError = true;
        addError('Por favor, ingrese una descripción.');
      }
  
      
    if (hasError) {
      // Mostrar la tarjeta de error
      errorContainer.style.display = 'block';
    } else {
      // Ocultar la tarjeta de error
      errorContainer.style.display = 'none';
      // Si no hay errores, enviar el formulario
      form.submit();
    }
    });
  
    // Función para agregar mensajes de error al contenedor
    function addError(message) {
      const errorParagraph = document.createElement('p');
      errorParagraph.textContent = message;
      errorContainer.appendChild(errorParagraph);
    }
  });
  </script>
    </html>