{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">

    <title>abonos</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
  </nav>

  <div>
    
    <div class="row">
      {% for solicitud in solicitudes %}
      <div class="col-sm-3">
        <div class="anun m-5">
          <div class="card" style="width: 18rem;">
            <img src="{{solicitud.service.image.url}}" class="card-img-top" alt="servicio">
            <div class="card-body">
              <h5 class="card-title">{{solicitud.service.name}}</h5>
              <p class="card-text">{{solicitud.description}}</p>
              <p class="card-text">Fecha: {{solicitud.date}}</p>
              <p class="card-text">estado: {{solicitud.state}}</p>
              <a href="{% url 'registrarOrdenProduccion' %}"><button type="button" class="btn btn-primary">
                crear orden de produccion
              </button></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

     
    </div>
  </div>
</body>
<script src="{% static 'JS/bootstrap.min.js' %}"></script>
<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'JS/validacionJ' %}"></script>
<script src="{% static 'JS/jquery-3.6.4.min.js' %}"></script>
</html>
