{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/Style.css' %}" rel="stylesheet">

    <title>Registrar Orden de Producción</title>
</head>
<body>
    <div class="container">
        <center><h1>Registrar Orden de Producción</h1></center>
        <div class="formulario">
            <form action="{% url 'registrarOrdenProduccion' %}" method="post" class="row g-3" novalidate>
                {% csrf_token %}
                <div class="col-12">
                    <label for="tipoproduccion">Tipo de Producción</label>
                    <select id="tipoproduccion" name="type" class="form-select" required>
                        <option value="">Seleccionar tipo de producción</option>
                        {% for tipo_produccion in tipos_produccion %}
                        <option value="{{ tipo_produccion.id }}" {% if tipo_produccion.type_id == tipo_produccion.id %} selected {% endif %}>{{ tipo_produccion.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <label for="actividad">Actividad</label>
                    <select id="actividad" name="activity" class="form-select" required>
                        <option value="">Seleccionar actividad</option>
                        {% for actividad in actividades %}
                            <option value="{{ actividad.id }}">{{ actividad }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6">
                    <button type="submit" name="submit" class="btn btn-success">Registrar Orden de Producción</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{% static 'JS/validacion.js' %}"></script>
</html>
