body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.form {
  background-color: #15172b;
  border-radius: 20px;
  min-height: 300px; 
  height: auto;
  box-sizing: border-box;
  padding: 20px;
  width: 360px;
  transition: height 0.3s;
  
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}



.cut-short {
  width: 50px;
}

.iLabel {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
  color: #808097;
}

.input:focus ~ .iLabel {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;

}

.submit:active {
  background-color: #06b;
}
.desc {
  transition: height 0.3s;
}

.desc-filled {
  padding-top: 20px;
}

.placeholder {
  color: #65657b;
  transition: transform 200ms;
}

.placeholder-hidden {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}



.input:focus ~ .cut, .input:valid ~ .cut, .input:focus ~ .iLabel, .input:valid ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  transition: transform 0.3s ease; /* Ajuste de transición */
}

.input:valid ~ .iLabel {
  color: #dc2f55;
  transition: color 0.3s ease; /* Ajuste de transición */
}

.input:valid ~ .cut {
  transform: translateY(8px);
  transition: transform 0.3s ease; /* Ajuste de transición */
}
.container {
  display: flex;
  align-items: flex-start; /* Alinear elementos verticalmente */
}
.error-container {
  background-color: #1d203d;
  color: #dc2f55;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 20%;
  font-family: Arial, sans-serif;
  font-size: 18px;
  transition: opacity 1s ease-in-out; 
}

.error-card.visible {
  display: block;
  opacity: 1;
}

.error-card.hidden {
  opacity: 0;
}
.error-container p {
  margin-bottom: 5px; /* Ajusta el espacio entre cada mensaje de error */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Crea un separador entre cada mensaje de error */
  padding-bottom: 5px; /* Añade un espacio después de cada mensaje de error */
}

.error-container p:last-child {
  border-bottom: none; /* Elimina el separador en el último mensaje de error */
}
