* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body {
    background: linear-gradient(rgba(84,93,220,-0.3), #930091),url(../img/fondoform.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .contact-form {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #444;
  }