.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .card__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card:hover .card__image img {
    transform: scale(1.2);
  }
  
  .card:hover .card__content {
    transform: translateY(-100%);
  }
  
  .card__image {
    height: 400px;
    width: 300px;

  }
/* styles.css */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.modal p {
  margin-bottom: 10px;
}

.modal button {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.enviar-btn {
  background-color: #007bff;
  color: white;
}

.cerrar-btn {
  background-color: #dc3545;
  color: white;
}

.cut-short {
  width: 50px;
}
.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}



.cut-short {
  width: 50px;
}

.iLabel {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .cut {
  transform: translateY(8px);
}

